:root {
  --pointer: #b1478d;
}

.CeateChordImage {
  background-color: brown;
  height: auto;
  margin: 10px;
}

.ChordPage {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
  align-items: start;
  margin-top: 10vh;
  padding-top: 1vh;
  background-attachment: scroll;
  min-height: 100vh;
  /* height: 100vh; */
  height: fit-content;
  position: relative;
}
.SettingPart-ChordPage {
  position: relative;
  width: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ChordPart-ChordPage {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
  min-height: 80vh;
}
.ListPart-ChordPage {
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.7rem;
  height: 100%;
  min-height: 70vh;
}
.SettingPart-ChordPage *,
.ChordPart-ChordPage * {
  font-weight: bold;
}

.MyChord-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #f2f1e7;
  margin: 0 1rem;
  justify-content: space-between;
}

.Chord-QueueList {
  width: 100%;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: hidden;
  height: 70vh;
}

.Chord-QueueList-Item {
  height: 15vh;
  width: 100%;
  min-height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.Chord-Menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: auto;
  height: 100%;
}

.ChordItem {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  width: 50%;
  min-height: 100%;

  box-sizing: border-box;
  padding: 0.2rem 0.4rem;
  margin: 0.4rem 0.5rem 0.4rem 0.8rem;

  color: #000;
  font-weight: bold;
  text-align: center;

  border-radius: 0.25rem;
  border-right: 1.5px solid rgb(43, 42, 42);
  border-bottom: 1.5px solid rgb(43, 42, 42);
  box-shadow: 0rem 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.5);

  cursor: pointer;
}

.ChordItem:hover {
  opacity: 0.7;
}

.ChordItemChosen {
  background: #ffebbc;
}
.ChordItemGroup {
  background-color: #ffc107;
}

.ChordItemShowing {
  background: #5da7ae;
}

.ChorDItemButton {
  padding: 0.2rem;
  font-size: 1.25rem;
  box-sizing: content-box;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
}

.SettingPart-settingButtonGroup {
  min-height: 10vh;
}

.ListPart-ChordPage-Main {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 0.5rem 0.5rem;
  width: 100%;
  /* overflow-y: hidden; */
  height: 100%;
}

.range-slider {
  box-sizing: border-box;
  appearance: none;
  height: 0.5rem;
  background: #e0e0e0;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 0.5rem;
  background: var(--pointer);
  border-radius: 50%;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 1rem;
  height: 0.5rem;
  background: var(--pointer);
  border-radius: 50%;
  cursor: pointer;
}

.range-slider::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    var(--pointer) 0%,
    var(--pointer) calc(var(--value) * 1%),
    #e0e0e0 calc(var(--value) * 1%),
    #e0e0e0 100%
  );
}

.range-slider::-moz-range-track {
  background: linear-gradient(
    to right,
    var(--pointer) 0%,
    var(--pointer) calc(var(--value) * 1%),
    #e0e0e0 calc(var(--value) * 1%),
    #e0e0e0 100%
  );
}

.ScrollBar-container {
  position: fixed;
  top: 50%;
  right: 5%;
  z-index: 1000;
  transform: translateY(-50%);
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0 0 5px rgba(255, 255, 255, 0.4);
  padding: 0.5rem;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ScrollBar-item {
  cursor: pointer;
  font-weight: bolder;
}

.ScrollBar-item:hover {
  opacity: 0.7;
}
