.CeateChordImage {
  background-color: brown;
  height: auto;
  margin: 10px;
}

.Chord-Unit {
  position: relative;
}

.Chord-QueueScreen {
  background-color: aquamarine;
  overflow-y: scroll;
}

.Chord-QueueList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.Chord-ImageBox {
  background-color: #9bdaeb;
  display: block;
}

.MyChord-Container {
  padding: 20px;
}

.ChordItem {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  width: 80%;

  box-sizing: border-box;
  padding: 0.2rem 0.4rem;
  margin: 0.4rem 0.1rem;

  color: #000;
  font-weight: bold;
  text-align: center;

  border-radius: 0.25rem;
  border-right:  1.5px solid rgb(43, 42, 42);
  border-bottom:  1.5px solid rgb(43, 42, 42);
  box-shadow: 0rem 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.5);

  cursor: pointer;
}

.ChordItem:hover {
  opacity: 0.7;
}

.ChordItemChosen {
  background-color: #8fff07;
}
.ChordItemGroup {
  background-color: #ffc107;
}

.ChordItemShowing {
  background-color: #3c7dd7;
}

h3 {
  display: block;
}

.ChorDItemButton{
  padding: 0.25rem; 
  font-size: 1.25rem;
  margin:2px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 25%;
}