.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.CeateChordImage {
  background-color: brown;
  height: auto;
  margin: 10px;
}

.Chord-Screen {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: aliceblue;
}

.Chord-ImageBox {
  background-color: #9bdaeb;
  display: block;
  margin: 20px auto;
  min-width: 30%;
  min-height: 50%;
  
  border: #c5ccdc solid 2px;
  border-radius: 10px 10px 10px 20px;
}




.Chord-Unit{
  position: relative;
  /* border: #fa00d0 2px solid; */
}

svg{
  max-width: 50%;
  max-height: 40%;
  /* border: #000000 2px solid; */
  
}

.CapoFret{
  display: inline-block;
  position: absolute;
  top:20%;
  transform: translateX(-20%);
}

.Chord-QueueScreen{
  width: 70%;
  height: 70%;
  background-color: aquamarine;
  margin: 20px auto;
  overflow-y: scroll;
}

.Chord-QueueList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Chord-QueueList-Item {
  width: 30%;
  margin: 10px;
  
}

button{
  padding: 10px;
  margin: 5px;
  font-size:10em;
  border: #282c34 solid 2px;
  box-shadow: #282c34 1px 1px;
  text-shadow: #282c34 1px 1px ;
}

.Chord-QueueList-Item .Chord-Menu button{
  padding: 1px 4px;
  min-width: 12%;
 margin: 2px;
 font-size:1.4em;
 border: rgb(177, 177, 177) solid .2px;
 box-shadow: #282c34 1px 1px;
 text-shadow: #282c34 1px 1px ;

}

.Chord-QueueList-Item .Chord-Name{
  min-width:50%;
  border: #40557f 1px solid;
  box-shadow: #282c34 2px 2px;
  text-shadow: #282c34 1px 1px ;
}

.Chord-ImageBox{
  width: 50%;
  height: 30%;
}

.Chord-ImageBox .CapoFret{
  top:25%;
  transform: translateX(-30%);
}

.MyChord-Container{
  padding:20px;
}